.a img {transition:0.6s all;}
            .a:hover img{transform:scale(1.2,1.2);background:#009140;opacity:0.6;cursor:pointer;}
            .b img {transition:0.6s all;}
            .b:hover img{transform:scale(1.2,1.2);background:#e65b06;opacity:0.6;cursor:pointer;}
            .c img {transition:0.6s all;}
            .c:hover img{transform:scale(1.2,1.2);background:#bababa;opacity:0.6;cursor:pointer;}
            .d img {transition:0.6s all;}
            .d:hover img{transform:scale(1.2,1.2);background:#d5e6d4;opacity:0.6;cursor:pointer;}
            .e img {transition:0.6s all;}
            .e:hover img{transform:scale(1.2,1.2);background:#434543;opacity:0.6;cursor:pointer;}
            .f img {transition:0.6s all;}
            .f:hover img{transform:scale(1.2,1.2);background:#f68c1f;opacity:0.6;cursor:pointer;}

            .a1 img {transition:0.6s all;}
            .a1:hover img{transform:scale(1.2,1.2);background:#096299;opacity:0.6;cursor:pointer;}
            .b1 img {transition:0.6s all;}
            .b1:hover img{transform:scale(1.2,1.2);background:black;opacity:0.6;cursor:pointer;}
            .c1 img {transition:0.6s all;}
            .c1:hover img{transform:scale(1.2,1.2);background:#101432;opacity:0.6;cursor:pointer;}
            .d1 img {transition:0.6s all;}
            .d1:hover img{transform:scale(1.2,1.2);background:#001d53;opacity:0.6;cursor:pointer;}
            .e1 img {transition:0.6s all;}
            .e1:hover img{transform:scale(1.2,1.2);background:#434543;opacity:0.6;cursor:pointer;}
            .f1 img {transition:0.6s all;}
            .f1:hover img{transform:scale(1.2,1.2);background:#6f5c4b;opacity:0.6;cursor:pointer;}


            .a2 img {transition:0.6s all;}
            .a2:hover img{transform:scale(1.2,1.2);background:#096299;opacity:0.6;cursor:pointer;}
            .b2 img {transition:0.6s all;}
            .b2:hover img{transform:scale(1.2,1.2);background:black;opacity:0.6;cursor:pointer;}
            .c2 img {transition:0.6s all;}
            .c2:hover img{transform:scale(1.2,1.2);background:#101432;opacity:0.6;cursor:pointer;}
            .d2 img {transition:0.6s all;}
            .d2:hover img{transform:scale(1.2,1.2);background:#001d53;opacity:0.6;cursor:pointer;}
            .e2 img {transition:0.6s all;}
            .e2:hover img{transform:scale(1.2,1.2);background:#434543;opacity:0.6;cursor:pointer;}
            .f2 img {transition:0.6s all;}
            .f2:hover img{transform:scale(1.2,1.2);background:#6f5c4b;opacity:0.6;cursor:pointer;}

            .a3 img {transition:0.6s all;}
            .a3:hover img{transform:scale(1.2,1.2);background:#096299;opacity:0.6;cursor:pointer;}
            .b3 img {transition:0.6s all;}
            .b3:hover img{transform:scale(1.2,1.2);background:black;opacity:0.6;cursor:pointer;}
            .c3 img {transition:0.6s all;}
            .c3:hover img{transform:scale(1.2,1.2);background:#101432;opacity:0.6;cursor:pointer;}
            .d3 img {transition:0.6s all;}
            .d3:hover img{transform:scale(1.2,1.2);background:#001d53;opacity:0.6;cursor:pointer;}
            .e3 img {transition:0.6s all;}
            .e3:hover img{transform:scale(1.2,1.2);background:#434543;opacity:0.6;cursor:pointer;}
            .f3 img {transition:0.6s all;}
            .f3:hover img{transform:scale(1.2,1.2);background:#6f5c4b;opacity:0.6;cursor:pointer;}



            
      